<footer class="page-footer font-small unique-color-dark"
  style="position: relative; background-color: #f5b904 !important;">

  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="footer-copyright text-center py-3" style="background-color: unset !important;color: #041c3f;">Copyright © 2019| Ntwaleng Projects. All Rights Reserved.
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="row py-3">
        <div class="col-md-6 col-lg-6">
          <h6 class="mb-0 white-text" style="color: #041c3f !important;float: right;">Get connected with us on social networks!</h6>
        </div>
        <div class="col-md-6 col-lg-6 text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0" style="color: #041c3f;" href="https://www.facebook.com/NtwalengTrading/" target="_blank">
            <i class="fa fa-facebook" data-icon="fa fa-facebook"></i>
          </a>
          <!--Linkedin-->
          <a class="li-ic" style="color: #041c3f;" href="https://www.linkedin.com/company/ntwaleng-trading" target="_blank">
            <i class="fa fa-linkedin" data-icon="fa fa-linkedin"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" style="color: #041c3f;" href="https://www.instagram.com/ntwaleng_trading/" target="_blank">
            <i class="fa fa-instagram" data-icon="fa fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>