<div id="page_content" class="page_content">
        <div class="row clr">
          <section class="s12 clr">
            <div class="cz_is_blank clr">
              <div class="cz_post_content">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div id="cz_86960" class="cz_86960 cz_title clr cz_title_pos_inline">
                          <div class="cz_title_content"><span class="cz_line_side_solo">_</span>
                            <div class="cz_wpe_content">
                              <h3 style="text-align: left;">About Us</h3>
                              <p style="text-align: left;"><span style="color: #999999;">Who We Are?</span></p>
                            </div>
                          </div>
                        </div>
                        <div class="cz_gap clr " style="height: 25px"></div>
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <div style="line-height: 1.3; text-align: justify;"><span style="font-size: 14px;">Ntwaleng is a
                                contemporary construction company with CIDB grading of 7GB PE,5CE PE,7SQ PE and 1EP that was
                                founded in 2002 by Mrs Mikateko Holeni-Mdluli with the mission and vision of advancing the
                                involvement of women in the built and civil construction industry. The headquarters of the
                                company are located in Nelspruit within the Mbombela Local Municipality. Our operational
                                footprint spans throughout the country. Since its establishment, the company has provided
                                excellent construction services and has acted as a key member on many recent public-private
                                partnership projects. Reflecting on the broad scope of services, our clients includes both
                                Government departments and State-owned entities</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div id="cz_16856" class="cz_16856 cz_image clr cz_image_no_fx">
                          <div class="">
                            <div class="cz_image_in" data-tilt=""
                              style="will-change: transform; animation-name: none; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                              <div class="cz_main_image"><img width="648" height="360" style="height: 300px;"
                                  src="../assets/img/home.png" data-src="" class="attachment-full lazyDone" alt=""
                                  srcset="../assets/img/home.png 648w, ../assets/img/home.png 600w, ../assets/img/home.png 300w"
                                  sizes="(max-width: 648px) 100vw, 648px"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </section>
        </div>
      </div>