<div style="padding: 30px 150px 30px 150px;">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-8">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div id="cz_38755" class="cz_38755 cz_title clr cz_title_pos_inline">
                        <div class="cz_title_content"><span class="cz_line_side_solo">_</span>
                            <div class="cz_wpe_content">
                                <h3 style="text-align: left;">Our Projects</h3>
                                <p style="text-align: left;"><span style="color: #999999;">What We Do?</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">

        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="cz_gap clr " style="height: 30px"></div>
                    <div id="cz_52686" class="cz_grid_p cz_52686">
                        <div class="cz_grid cz_grid_1 clr cz_grid_c5 cz_grid_1_no_title cz_grid_1_mid tac"
                            style="position: relative;">
                            <div class="cz_grid_item cz_grid_first" style="position: absolute; left: 0%; top: 0px;">
                            </div>

                            <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                tabindex="-1">
                                <div>
                                    <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                        style="width: 100%; display: inline-block;">
                                        <div class="cz_team_img"><img height="160px;" src="../../assets/img/project/ABT.jpg">
                                            <div class="cz_team_social cz_social clr">
                                                <div class="cz_team_social_in">
                                                    <div>
                                                        <strong>Client</strong><br> Sanjo Fabtech Sterling                                                    </div>
                                                    <div>
                                                        <strong> Status</strong><br>In progress
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_team_content cz_wpe_content">
                                            <b>
                                                <h6>Low Costs Housing</h6>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 20%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img height="160px;" src="../../assets/img/project/1.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> City of Ekurhuleni Municipality
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Panning Stage
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Alternative Building Technology</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 40%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img  height="160px;"
                                                    src="../../assets/img/project/Erection of new Precast Concrete Solid Slab Wall.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> PRASA
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Establishment
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Erection of new Precast Concrete<br> Solid Slab Wall</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 60%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img height="160px;"
                                                    src="../../assets/img/project/Restoration of functionality of Nolungile.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br>PRASA
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Commenced
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Restoration of functionality of<br> Nolungile Train Station
                                                    </h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 80%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img 
                                                    src="../../assets/img/project/Rural Borehole Water Supply .jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> Nkangala District Municipality
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Rural Borehole <br> Water Supply Programme </h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="cz_gap clr " style="height: 30px"></div>
                    <div id="cz_52686" class="cz_grid_p cz_52686">
                        <div class="cz_grid cz_grid_1 clr cz_grid_c5 cz_grid_1_no_title cz_grid_1_mid tac"
                            style="position: relative;">
                            <div class="cz_grid_item cz_grid_first" style="position: absolute; left: 0%; top: 0px;">
                            </div>

                            <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                tabindex="-1">
                                <div>
                                    <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                        style="width: 100%; display: inline-block;">
                                        <div class="cz_team_img"><img
                                                src="../../assets/img/project/Selby Farming Irrigation.jpg">
                                            <div class="cz_team_social cz_social clr">
                                                <div class="cz_team_social_in">
                                                    <div>
                                                        <strong>Client</strong><br> Versatex Projects
                                                    </div>
                                                    <div>
                                                        <strong> Status</strong><br>Completed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_team_content cz_wpe_content">
                                            <b>
                                                <h6>Selby Farming Irrigation</h6>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 20%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/JOZI WORK PROGRAMME.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> JOSHCO
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>CSA - Jozi @ Work Programme</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 40%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/IVORY PARK HOUSING PROJECT.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> City of Johannesburg Dept of Housing
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Ivory Park Housing Project</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 60%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/RABIE RIDGE HOUSING PROJECT.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br>City of Johannesburg Dept of Housing
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Rabie Ridge Housing Project</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 80%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/NKOMAZI HOUSING PROJECT.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> Department of Human Settlements
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Nkomazi Housing Project</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="cz_gap clr " style="height: 30px"></div>
                    <div id="cz_52686" class="cz_grid_p cz_52686">
                        <div class="cz_grid cz_grid_1 clr cz_grid_c5 cz_grid_1_no_title cz_grid_1_mid tac"
                            style="position: relative;">
                            <div class="cz_grid_item cz_grid_first" style="position: absolute; left: 0%; top: 0px;">
                            </div>

                            <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                tabindex="-1">
                                <div>
                                    <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                        style="width: 100%; display: inline-block;">
                                        <div class="cz_team_img"><img
                                                src="../../assets/img/project/ZWELISHA HOUSING PROJECT.jpg">
                                            <div class="cz_team_social cz_social clr">
                                                <div class="cz_team_social_in">
                                                    <div>
                                                        <strong>Client</strong><br> Department of Human Settlements
                                                    </div>
                                                    <div>
                                                        <strong> Status</strong><br>Completed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_team_content cz_wpe_content">
                                            <b>
                                                <h6>Zwelisha Housing Project</h6>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 20%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/MSOGWABA HOUSING PROJECT.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> Department of Human Settlements
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Msogwaba Housing Project</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 40%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/Mpumalanga Department of Human Settlements.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> Mpumalanga Dept of Human Settlements
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Community Hall/Child Care<br> Facility/Centre</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 60%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/JOSHCO.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br>JOSHCO
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Construction (Capability Support Agent)</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cz_grid_item" style="position: absolute; left: 80%; top: 0px;">
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/Ehlanzeni District Municipality .jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> Ehlanzeni District Municipality 
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Flood Disaster Projects</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="cz_gap clr " style="height: 30px"></div>
                        <div id="cz_52686" class="cz_grid_p cz_52686">
                            <div class="cz_grid cz_grid_1 clr cz_grid_c5 cz_grid_1_no_title cz_grid_1_mid tac"
                                style="position: relative;">
                                <div class="cz_grid_item cz_grid_first" style="position: absolute; left: 0%; top: 0px;">
                                </div>
    
                                <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                    id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                    tabindex="-1">
                                    <div>
                                        <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                            style="width: 100%; display: inline-block;">
                                            <div class="cz_team_img"><img
                                                    src="../../assets/img/project/City of Johannesburg.jpg">
                                                <div class="cz_team_social cz_social clr">
                                                    <div class="cz_team_social_in">
                                                        <div>
                                                            <strong>Client</strong><br> City of Johannesburg 
                                                        </div>
                                                        <div>
                                                            <strong> Status</strong><br>Completed
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cz_team_content cz_wpe_content">
                                                <b>
                                                    <h6>Development of 22 <br>Apartment in Forest Twon</h6>
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cz_grid_item" style="position: absolute; left: 20%; top: 0px;">
                                    <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                        id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                        tabindex="-1">
                                        <div>
                                            <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                style="width: 100%; display: inline-block;">
                                                <div class="cz_team_img"><img
                                                        src="../../assets/img/project/SANJO FABTECH STERLING1.jpg">
                                                    <div class="cz_team_social cz_social clr">
                                                        <div class="cz_team_social_in">
                                                            <div>
                                                                <strong>Client</strong><br> Gauteng Department of Education 
                                                            </div>
                                                            <div>
                                                                <strong> Status</strong><br>Completed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cz_team_content cz_wpe_content">
                                                    <b>
                                                        <h6>Construction of Classrooms<br>and Ablution Block</h6>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cz_grid_item" style="position: absolute; left: 40%; top: 0px;">
                                    <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                        id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                        tabindex="-1">
                                        <div>
                                            <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                style="width: 100%; display: inline-block;">
                                                <div class="cz_team_img"><img
                                                        src="../../assets/img/project/SANJO FABTECH STERLING1.jpg">
                                                    <div class="cz_team_social cz_social clr">
                                                        <div class="cz_team_social_in">
                                                            <div>
                                                                <strong>Client</strong><br> Eastern Cape Dept of Education
                                                            </div>
                                                            <div>
                                                                <strong> Status</strong><br>Completed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cz_team_content cz_wpe_content">
                                                    <b>
                                                            <h6>Construction of Classrooms<br>and Ablution Block</h6>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cz_grid_item" style="position: absolute; left: 60%; top: 0px;">
                                    <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                        id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                        tabindex="-1">
                                        <div>
                                            <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                style="width: 100%; display: inline-block;">
                                                <div class="cz_team_img"><img
                                                        src="../../assets/img/project/SANJO FABTECH STERLING.jpg">
                                                    <div class="cz_team_social cz_social clr">
                                                        <div class="cz_team_social_in">
                                                            <div>
                                                                <strong>Client</strong><br>Emfuleni Local Municipality 
                                                            </div>
                                                            <div>
                                                                <strong> Status</strong><br>Completed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cz_team_content cz_wpe_content">
                                                    <b>
                                                        <h6>Construction of Two 60m2<br> Houses in Vanderbjil</h6>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cz_grid_item" style="position: absolute; left: 80%; top: 0px;">
                                    <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                        id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                        tabindex="-1">
                                        <div>
                                            <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                style="width: 100%; display: inline-block;">
                                                <div class="cz_team_img"><img
                                                        src="../../assets/img/project/SANJO FABTECH STERLING.jpg">
                                                    <div class="cz_team_social cz_social clr">
                                                        <div class="cz_team_social_in">
                                                            <div>
                                                                <strong>Client</strong><br> Sanjo Fabtech Sterling
                                                            </div>
                                                            <div>
                                                                <strong> Status</strong><br>Completed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cz_team_content cz_wpe_content">
                                                    <b>
                                                        <h6>Construction of numeros Houses in<br> Parys, Vrede and Limpopo</h6>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="cz_gap clr " style="height: 30px"></div>
                            <div id="cz_52686" class="cz_grid_p cz_52686">
                                <div class="cz_grid cz_grid_1 clr cz_grid_c5 cz_grid_1_no_title cz_grid_1_mid tac"
                                    style="position: relative;">
                                    <div class="cz_grid_item cz_grid_first" style="position: absolute; left: 0%; top: 0px;">
                                    </div>
        
                                    <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                        id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                        tabindex="-1">
                                        <div>
                                            <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                style="width: 100%; display: inline-block;">
                                                <div class="cz_team_img"><img
                                                        src="../../assets/img/project/PRASA2.jpg">
                                                    <div class="cz_team_social cz_social clr">
                                                        <div class="cz_team_social_in">
                                                            <div>
                                                                <strong>Client</strong><br> PRASA 
                                                            </div>
                                                            <div>
                                                                <strong> Status</strong><br>Completed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cz_team_content cz_wpe_content">
                                                    <b>
                                                        <h6>Fencing Cluster Cordelfos</h6>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cz_grid_item" style="position: absolute; left: 20%; top: 0px;">
                                        <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                            id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                            tabindex="-1">
                                            <div>
                                                <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                    style="width: 100%; display: inline-block;">
                                                    <div class="cz_team_img"><img
                                                            src="../../assets/img/project/PRASA.jpg">
                                                        <div class="cz_team_social cz_social clr">
                                                            <div class="cz_team_social_in">
                                                                <div>
                                                                    <strong>Client</strong><br> PRASA 
                                                                </div>
                                                                <div>
                                                                    <strong> Status</strong><br>Completed
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cz_team_content cz_wpe_content">
                                                        <b>
                                                            <h6>Fencing Cluster <br>Atterridgeville to Kalafong</h6>
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cz_grid_item" style="position: absolute; left: 40%; top: 0px;">
                                        <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                            id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                            tabindex="-1">
                                            <div>
                                                <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                    style="width: 100%; display: inline-block;">
                                                    <div class="cz_team_img"><img
                                                            src="../../assets/img/project/PRASA1.jpg">
                                                        <div class="cz_team_social cz_social clr">
                                                            <div class="cz_team_social_in">
                                                                <div>
                                                                    <strong>Client</strong><br>PRASA
                                                                </div>
                                                                <div>
                                                                    <strong> Status</strong><br>Completed
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cz_team_content cz_wpe_content">
                                                        <b>
                                                            <h6>Fencing Cluster G Saulsville</h6>
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cz_grid_item" style="position: absolute; left: 60%; top: 0px;">
                                        <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                            id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                            tabindex="-1">
                                            <div>
                                                <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                    style="width: 100%; display: inline-block;">
                                                    <div class="cz_team_img"><img
                                                            src="../../assets/img/project/BUSHBUCKRIDGE LOCAL MUNICIPALITY.jpg">
                                                        <div class="cz_team_social cz_social clr">
                                                            <div class="cz_team_social_in">
                                                                <div>
                                                                    <strong>Client</strong><br>Bushbuckridge Local Municipality
                                                                </div>
                                                                <div>
                                                                    <strong> Status</strong><br>Completed
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cz_team_content cz_wpe_content">
                                                        <b>
                                                            <h6> Upgrading of Internal Streets<br>Thulamahashe Phase 4 Section B</h6>
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cz_grid_item" style="position: absolute; left: 80%; top: 0px;">
                                        <div class="slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                                            id="slick-slide12" style="width: 310px;" aria-describedby="slick-slide-control12"
                                            tabindex="-1">
                                            <div>
                                                <div id="cz_26678" class="cz_26678 cz_team mb30 clr cz_team_2 cz_social_v"
                                                    style="width: 100%; display: inline-block;">
                                                    <div class="cz_team_img"><img
                                                            src="../../assets/img/project/EMALAHLENI LOCAL .jpg">
                                                        <div class="cz_team_social cz_social clr">
                                                            <div class="cz_team_social_in">
                                                                <div>
                                                                    <strong>Client</strong><br> Emalahleni Local Municipality
                                                                </div>
                                                                <div>
                                                                    <strong> Status</strong><br>Completed
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cz_team_content cz_wpe_content">
                                                        <b>
                                                            <h6>Kwaguqa Stormwater Refurbishment</h6>
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>