<div id="page_content" class="page_content" style="background-color: #041c3f;">
  <div class="row clr">
    <section class="s12 clr">
      <div class="cz_is_blank clr">
        <div class="cz_post_content">
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div id="cz_83525" class="cz_83525 cz_title clr cz_title_ba_line cz_title_pos_inline tac"
                    style="color: white;">
                    <div class="cz_title_content">
                      <div class="cz_wpe_content">
                        <h2 style="text-align: center;"><span style="line-height: 1.5;">Our Experience
                            is ready for you<br> </span></h2>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">Our Services is:</p>
                      </div>
                      <div class="cz_title_line cz_line_after_title"><span>_</span></div>
                    </div>
                  </div>
                  <div class="cz_gap clr " style="height: 30px"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_91968" class="cz_91968 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-codepen"></i></div>
                      <div class="service_text">
                        <h3>Boreholes Construction</h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">Ntwaleng provides a world-class borehole drilling service to the industrial, commercial and domestic markets in South Africa. We help government entities to provide water to communities where water infrastructure is yet to be developed.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_28600" class="cz_28600 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-map"></i></div>
                      <div class="service_text">
                        <h3>Civil Works</h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">The company has
                              the in-house capability and resources to execute high rise structures and projects in
                              challenging terrains, complemented by its capability to address allied systems like water
                              treatment, reticulation systems and sanitation systems.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_32015" class="cz_32015 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-map"></i></div>
                      <div class="service_text">
                        <h3>Electrical Works</h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="color: #041c3f;">Ntwaleng is involved with a variety of electrical works, providing services for government and state-owned entities as well as municipalities. We carry out a variety of Installations and Electrical Contracting. </span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_74354" class="cz_74354 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-codepen"></i></div>
                      <div class="service_text">
                        <h3>Green Building using ABT</h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">Through our
                              franchise with Sanjo Fabtech Sterling Building Ntwaleng has been at the forefront of ABT
                              Technologies enable us to construct houses, government buildings and houses innovatively,
                              timely and cost effectively.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_51383" class="service services clr style1 services_b" style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-building-o"></i></div>
                      <div class="service_text">
                        <h3>General Building and Maintenance </h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">Ntwaleng is the specialist in the Construction and Maintenance in the industry that is dedicated to providing excellent services, supplies and advice. 
                              Building Construction, Maintenance and Consulting are the core business of Anchor Maintenance.   </span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="fx_up_hover">
                      <div id="cz_61172" class="cz_61172 services clr style1 services_b"
                        style="height: 330px !important;">
                        <div class="service_custom"><i class="fa fa-assistive-listening-systems"></i></div>
                        <div class="service_text">
                          <h3>Irrigation Systems</h3>
                          <div class="cz_wpe_content">
                            <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">We supply and install quality small scale and industrial scale irrigation products with the highest levels of efficiency. Every system will be planned around the unique features of every property to offer tailor made solutions to all our clients.</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_11349" class="cz_11349 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-wrench"></i></div>
                      <div class="service_text">
                        <h3>Social Housing</h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">The company has
                              undertaken execution of several projects such as townships, residential and mixed use high
                              rise buildings.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="fx_up_hover">
                    <div id="cz_76768" class="cz_76768 services clr style1 services_b"
                      style="height: 330px !important;">
                      <div class="service_custom"><i class="fa fa-wrench"></i></div>
                      <div class="service_text">
                        <h3>Walling and Fencing </h3>
                        <div class="cz_wpe_content">
                          <div style="line-height: 1.3;"><span style="font-size: 14px; color: #041c3f;">Our construction
                              offering in walling and fencing include wall raising, new walls, steel palisade, concrete
                              palisade, heavy duty concrete walls as well as security fencing such as wall spikes, razor
                              wire, and razor diamond mesh.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </section>
  </div>
</div>