<div
class="header_2 cz_row_shape_7 cz_row_shape_full_filled_right header_is_sticky smart_sticky cz_menu_fx_fade_in onSticky"
style="width: 100%; transform: none;">
<div class="row elms_row">
  <div class="clr">

    <div class="elms_left header_2_left  cz_row_shape_3">
      <div class="cz_elm logo_header_2_left_0 inner_logo_header_2_left_0">
        <div class="logo_is_img logo">
          <a href="#" title="Ntwaleng">
            <img src="../assets/img/logo.jpg" alt="Ntwaleng Logo"></a></div>
      </div>
      <style>
        .elms_left.header_2_left.cz_row_shape_3 .row:before,
        .elms_left.header_2_left.cz_row_shape_3 .row:after {
          width: 147px
        }

        .elms_row .elms_left.header_2_left.cz_row_shape_3:before,
        .elms_row .elms_left.header_2_left.cz_row_shape_3:after {
          width: 147px
        }
      </style>
    </div>
    <div class="elms_right header_2_right  cz_row_shape_3">
     
      <div class="cz_elm menu_header_2_right_2 inner_menu_header_2_right_1"
        style="margin-top:30px;margin-right:20px;margin-bottom:30px;margin-left:20px;"><i
          class="fa fa-bars hide icon_mobile_cz_menu_default cz_mi_30031"></i>
        <ul id="menu_header_2" class="sf-menu clr cz_menu_default sf-js-enabled sf-arrows" data-indicator=""
          data-indicator2="fa fa-angle-right" style="touch-action: pan-y;">
          <li id="menu-header_2-478" (click)="scrollToElement('home')"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item cz current_menu"
            data-sub-menu=""><a data-title="Home"><span>Home</span></a>
          </li>
          <li id="menu-header_2-525" (click)="scrollToElement('about')"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children cz"
            data-sub-menu=""><a data-title="About"
              class="sf-with-ul"><span>About</span><i class="cz_indicator"></i></a>
          </li>
          <li id="menu-header_2-524" class="menu-item menu-item-type-post_type menu-item-object-page cz"  (click)="scrollToElement('service')"
            data-sub-menu=""><a data-title="Services"><span>Services</span></a></li>
          <li id="menu-header_2-522" class="menu-item menu-item-type-post_type menu-item-object-page cz"  (click)="scrollToElement('projects')"
            data-sub-menu=""><a data-title="Projects"><span>Projects</span></a>
          </li>
          <li id="menu-header_2-523" (click)="scrollToElement('contactus')"
            class="menu-item menu-item-type-post_type menu-item-object-page cz cz-last-child" data-sub-menu=""><a
              data-title="Contact"><span>Contact</span></a></li>

        </ul>
      </div>
      <style>
        .elms_right.header_2_right.cz_row_shape_3 .row:before,
        .elms_right.header_2_right.cz_row_shape_3 .row:after {
          width: 147px
        }

        .elms_row .elms_right.header_2_right.cz_row_shape_3:before,
        .elms_row .elms_right.header_2_right.cz_row_shape_3:after {
          width: 147px
        }
      </style>
    </div>
  </div>
</div>
<style>
  .header_2.cz_row_shape_7.cz_row_shape_full_filled_right.header_is_sticky.smart_sticky.cz_menu_fx_fade_in .row:before,
  .header_2.cz_row_shape_7.cz_row_shape_full_filled_right.header_is_sticky.smart_sticky.cz_menu_fx_fade_in .row:after {
    width: 147px
  }

  .elms_row .header_2.cz_row_shape_7.cz_row_shape_full_filled_right.header_is_sticky.smart_sticky.cz_menu_fx_fade_in:before,
  .elms_row .header_2.cz_row_shape_7.cz_row_shape_full_filled_right.header_is_sticky.smart_sticky.cz_menu_fx_fade_in:after {
    width: 147px
  }
</style>
</div>

<!--Carousel Wrapper-->
<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
  <li data-target="#demo" data-slide-to="3"></li>
  <!--<li data-target="#demo" data-slide-to="4"></li>-->
</ul>
<div class="carousel-inner" style="margin-top: -130px !important;">
  <div class="carousel-item active">
    <img src="../assets/img/slide/silde1.jpeg" alt="Slide Image 1" width="1100" height="200">
    <!--<div class="carousel-caption">
      <h3 class="carousel-caption-title">Los Angeles</h3>
      <p>We had such a great time in LA!</p>
    </div>-->
  </div>
  <div class="carousel-item">
    <img src="../assets/img/slide/silde5.jpg" alt="Slide Image 2" width="1100" height="200">
    <!--<div class="carousel-caption">
      <h3 class="carousel-caption-title">Chicago</h3>
      <p>Thank you, Chicago!</p>
    </div>-->
  </div>
  <div class="carousel-item">
    <img src="../assets/img/slide/silde6.jpg" alt="Slide Image 3" width="1100" height="200">
   <!-- <div class="carousel-caption">
      <h3 class="carousel-caption-title">Civil Engineering</h3>
      <p>We offer one-stop construction solutions for simple to complex structures. </p>
    </div>-->
  </div>
  <div class="carousel-item">
    <img src="../assets/img/slide/silde4.jpg" alt="Slide Image 4" width="1100" height="200">
    <!--<div class="carousel-caption">
      <h3 class="carousel-caption-title">Building and maintenance</h3>
      <p>Dedicated to providing excellent services, supplies and advice. </p>
    </div>-->
  </div>
  <!--<div class="carousel-item">
      <img src="../../assets/img/slide/image004.png" alt="Slide Image 5" width="1100" height="200">
      <div class="carousel-caption">
        <h3 class="carousel-caption-title">Building and maintenance</h3>
        <p>Dedicated to providing excellent services, supplies and advice. </p>
      </div>
    </div>-->
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>